<html lang="{{ LANGUAGE_CODE }}">
  <head> </head>

  <body>
    <script>
      !(function () {
        document
          .getElementsByTagName("head")[0]
          .insertAdjacentHTML(
            "beforeend",
            "<link rel='stylesheet' href='https://livechat.minhhv11.xyz/index.css' />"
          );
        const e = document.createElement("div");
        e.setAttribute("id", "livechat-sop"), document.body.appendChild(e);
        window.id = 4;
        const t = document.createElement("script");
        t.setAttribute("type", "module"),
          t.setAttribute("crossorigin", ""),
          (t.src = "https://livechat.minhhv11.xyz/Widget.js"),
          document.body.appendChild(t);
      })();
    </script>
  </body>
</html>
